*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.calculator{
    flex: 0 0 95%;
}
.screen{
    width: 100%;
    font-size: 4rem;
    padding: 0.5rem;
    background: darkgreen;
    color: white;
    border:none;
}

.buttons{
    display: flex;
    flex-wrap: wrap;
    transition: all 0.5s linear;
}

button{
    flex:0 0 25%;
    border: 1px solid black;
    padding: 0.25rem 0;
    transition: all 2s ease;
}
button:hover{
    background: blue;
}
.btn-yellow{
    background: rgb(163, 141, 121);
    color: white;
}
.btn-grey{
    background: rgba(224, 224, 224, 0.664);
}
.btn,.btn-equal,.btn-clear{
    font-size: 4rem;
}
.btn-equal{
    background: rgb(69, 67, 202);
}
.btn-clear{
    background: rgb(121, 67, 67);
} 