* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

.navbar__header {
  background: #545454;
  display:flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  border-bottom:  0.4rem solid #6baa75;
}

.navbar__btn{
  align-self: center;
  border: 5px solid #6baa75;
  cursor: pointer;
  /* height: 60px;
  width:60px; */
}

.bar {
  width:30px;
  height: 5px;
  margin: 0.5rem;
  background: #6baa75;
  transition: all 2s ease;
}

.navbarBtn__collapse .bar1
{
  transform: rotate(45deg) translate(10px, 8.5px)
}

.navbarBtn__collapse .bar2
{
  background: transparent;
}

.navbarBtn__collapse .bar3
{
  transform: rotate(-45deg) translate(10px, -8.5px)
}



.navbar__links {
  list-style-type:none;
  transition: all 2s ease;
  height: 0;
  overflow:hidden;
}

.navbar__collapse {
  height:240px;
}

.navbar__single-link {
  display:block;
  background: #69747c;
  padding: 1rem;
  font-size: 1.5rem;
  text-decoration: none;
  text-transform: capitalize;
  color: #6baa75;
  transition: all 1s ease;
  cursor: pointer;
}

.navbar__single-link:hover {
  padding-left: 1.5rem;
  background: #545454;
}
header{
  min-height: calc(100vh - 91.8px);
  background: url('./img/header-bcg.jpeg')center/cover no-repeat;
}
